.about_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  min-height: calc(100vh - 413px);
  padding: 50px 0;
}

.about_text_container {
  /* max-width: 762px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about_title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 100%;
  text-align: center;
}

.about_text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 100%;
  /* text-align: center; */
  line-height: 24px;
}

.people_involved {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 7.5px;
}

.people_images {
  position: relative;
  background-color: #d9d9d9;
  width: 252px;
  height: 400px;
  max-width: 252px;
  max-height: 700px;
  object-fit: cover;
  border-radius: 13px;
}

.people_images:nth-child(even) {
  margin-top: -20px;
}

@media screen and (max-width: 600px) {
  .about_container {
    gap: 30px;
  }
  .people_images {
    width: 100%;
    max-width: 100%;
  }
  .people_images:nth-child(even) {
    margin-top: 0;
  }
}
