.load_notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.loader_img {
  width: 150px;
  height: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.category {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 100%;
  text-align: left;
  color: #f6a917;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}
