.footer_container {
  width: 100%;
  background-color: var(--color-primary);
}

.footer_container_main {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-align: center;
  color: #fff;
}

.footer_border_icons_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
}

.footer_center_information_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  gap: 30px;
}

.footer_social_midia {
  display: flex;
  gap: 10px;
}

/* .footer_border_icons_container img {
  mix-blend-mode: multiply;
} */

.footer_images_container {
  display: grid;
  /* justify-content: space-between; */
  /* grid-template-columns: 33% 1fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr;
}

.footer_right_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer_right_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_end_information {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.footer_directs {
  grid-column: 2;
}

.developed_by {
  display: flex;
  justify-content: end;
  align-items: end;
}

.developed_by a {
  display: flex;
  flex-direction: column;
  text-align: end;
  color: #FFF;
}

@media(max-width: 940px) {
  .footer_end_information {
    display: flex;
    gap: 10px;
  }
  .footer_images_container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .footer_border_icons_container {
    grid-column: 1/-1;
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
  }
  .footer_center_information_container {
    grid-column: 2;
    align-items: center;
    gap: 10px;
  }
  .footer_right_container {
    grid-row: 1;
    align-items: center;
    grid-column: 1;
  }
}
@media(max-width: 970px) {
  .footer_images_container {
    /* display: flex; */
    flex-wrap: wrap;
  }
}