.footer_container {
  width: 100%;
  background-color: #f4f4f4;
  margin-top: 40px;
}

.footer_container_main {
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-align: center;
}

.footer_border_icons_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_border_icons_container img {
  mix-blend-mode: multiply;
}


.footer_images_container {
  display: flex;
  justify-content: space-between;
}

.footer_images_ufpb_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
