.imageUploadContainer {
  display: flex;
  flex-direction: column;
}

.imageUploadLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  max-width: 100%;
  height: 45px;
  transition: all 0.3s ease-in-out;
}

.imageUploadLabel:hover {
  background-color: #444;
}

.imageUploadName {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.imageIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.imageUploadInput {
  display: none;
}
