.home_content_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.principals_news_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.recent_updates_section {
  margin-top: 40px;
}

.recent_updates_section, .latest_posts_section {
  width: 100%;
  background-color: #FFF;
  padding-top: 40px;
}

.latest_posts_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  /* background-color: black; */
}

.recent_updates_container {

}

@media (max-width: 1147px) {
  .principals_news_section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .latest_posts_container {
    grid-template-columns: 1fr;
  }
}