.label_select_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.select_container {
  display: flex;
  flex-direction: row;
  width: max-content;
  box-sizing: border-box;
  height: 45px;
  width: 100%;
  border: 2px solid #d9d9d9;
  border-radius: 7px;
  padding-left: 15px;
  background-color: #fff;
}

.select_container:hover,
.select_container:focus {
  border: 2px solid #f97316;
  transition: 0.5s;
  outline: #f97316;
}
