.postInformation_container {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 40px; */
}

.postInformation_form_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr  1fr 1fr;
  background-color: #f9f9f9;
  border-radius: 7px;
  padding: 30px;
  gap: 10px;
}

.postInformation__form_secondLine_author_options {
  display: flex;
  /* flex-direction: ; */
  gap: 5px;
}

.postInformation__form_secondLine_author_options label {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.postInformation__form_secondLine_author_options label:not(:first-child) {
  margin-left: 10px;
}

.postInformation__form_secondLine_author {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: 1200px) {
  .postInformation_form_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 725px) {
  .postInformation_form_container {
    flex-wrap: wrap;
  }

  .postInformation_form_container {
    grid-template-columns: 1fr;
  }
}
