.postInformation_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.postInformation_container:hover {
  transform: translateY(-3px);
  /* background-color: black; */
  transition: 0.3s;
  & .postInformation__form_firstLine {
    border-radius: 10px;
    transition: 0.3s;
  }
}

.postInformation_form_container {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 7px;
  padding: 30px;
  gap: 10px;
}

.postInformation__form_line {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.postInformation__form_secondLine {

}

.postInformation__form_secondLine_author_options {
  display: flex;
  /* flex-direction: ; */
  gap: 5px;
}

.postInformation__form_secondLine_author_options label {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.postInformation__form_secondLine_author_options label:not(:first-child) {
  margin-left: 10px;
}

.postInformation__form_secondLine_author {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* .post_config_container {} */

/* .post_content_edit_container {} */

@media (max-width: 725px) {
  .postInformation_form_container {
    flex-wrap: wrap;
  }
}
