.page_template_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.page_template_main_content {
  background-color: var(--color-neutral-light);
  border-top: 3px solid #cdcdcd;
  flex: 1;
}

.secound_header_center_content {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  place-content: center
}

@media (max-width: 645px) {
  .secound_header_divider {
    display: none;
  }
}
