.leyout_template_container {
  margin: 0 auto;
  padding: 16px 24px;
  max-width: 1380px;
  height: 100%;
}

@media (max-width: 400px) {
  .leyout_template_container {
    
  padding: 16px 14px;
  }
}