.author_post_container {
  display: flex;
  gap: 10px;
  
}

.author_image_container {
  box-shadow: 0px 3px 4px 00px rgba(0, 0, 0, 50%);
}

.author_image_container, .author_image_container img {
  max-width: 40px;
  max-height: 40px;
  border-radius: 8px;
}

.author_informations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.author_informations .author_name {
  font-weight: 600;
}

.author_informations .author_contribuition {
  color: var(--color-neutral-medium-2);
  font-weight: 500;
}