html {
  scrollbar-gutter: stable;
}

body {
  font-family: "Heuvetica neue 5", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.small-text {
  font-weight: 100;
}

.quote {
  border-left: 4px solid #333;
  padding-left: 10px;
  margin: 1em 0;
  color: #333;
  font-style: italic;
}
