.page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.submit_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  border: none;
  outline: none;
  background-color: #931c80;
  padding: 10px 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.submit_button:hover {
  background-color: #8b0775;
}

.page_title {
  position: relative;
  opacity: 1;
  font-size: 2.5rem;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 600px) {
  .page_title {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .page_title {
    font-size: 1.8rem;
  }
}

@media (max-width: 460px) {
  .page_title {
    font-size: 1.5rem;
  }
}

@media (max-width: 390px) {
  .submit_button {
    width: 100%;
  }

  .page_header {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}
