.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.link {
  margin-top: 0.5rem;
  color: #f6a917;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.link:hover {
  transform: translateX(5px);
}
